body.transform {
	overflow: hidden; /* Hide scrollbars, weird approach but it works */
}
#container.transform {
	position: fixed;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	z-index: 99999999;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(to bottom right, rgba(1, 117, 53, 0.125), rgba(0, 25, 25, 1));
}
.transform-nosource,
.transform-hidden {
	display: none;
}
.transform-manual {
	visibility: visible;
	opacity: 1;
}
.transform-controller {
	/* In case of pages using `white-space: pre-line` (eg Discord), don't render vsc's whitespace */
	white-space: normal;
	/* Disables text selection when the user is dragging the controller around */
	user-select: none;
}
/* Origin specific overrides */
/* YouTube player */
.ytp-hide-info-bar .transform-controller {
	position: relative;
	top: 10px;
}
.ytp-autohide .transform-controller {
	visibility: hidden;
	transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
}
.ytp-autohide .transform-show {
	visibility: visible;
	opacity: 1;
}
.ytp-autohide.hideControlsWhenPaused, .ytp-autohide .hideControlsWhenPaused, .hideControlsWhenPaused {
	display:none;
	visibility: hidden;
	transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
}
/*this works -- just need to unify some settings under ".transform" */
/* DIV.ytp-chrome-bottom.transform {
	width: 100% !important;
	left: 0 !important;
} */
/*experimentals for youtube*/
.transform .ytp-gradient-bottom, .transform .ytp-gradient-top {
	width: 100%;
	/* height: 100% !important; */
	transition: opacity .1s cubic-bezier(.4,0,1,1);
	-webkit-transition: opacity .1s cubic-bezier(.4,0,1,1);
	background-repeat: repeat-x;
	pointer-events:none;
}
.transform .ytp-chrome-bottom {
	width: 96% !important; /* it appears left: is natively calculated to be 2% of player width */
	left: 2% !important;
	/* transform: translateX(50%) !important; */
	/* left: -50% !important; */
}
.transform .ytp-progress-bar-container, .transform .ytp-progress-chapters-container {
	position: fixed !important;
	width: 100% !important; /* it appears left: is natively calculated to be 2% of player width */
}
VIDEO.transform {
	box-shadow: rgba(250, 250, 250, 0.634) 0px 1px 4px;
}
